div.m_upload div.button{
	border:1px solid #888;
	background-color:#eee;
	width:180px;
	text-align:center;
	padding:5px;
	cursor:pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
div.m_upload div.button:hover{
	border:1px solid #ccc;
}