<link type="text/css" rel="stylesheet" href="{BASE_MODULES}m_search/css/style.css"/>
<script type="text/javascript" src="{BASE_MODULES}m_search/js/script.js"></script>
<script type="text/javascript" src="{BASE_MODULES}m_search/js/config.js"></script>
<script type="text/javascript" src="{BASE_MODULES}m_search/js/adapters.js"></script>
<div class='m_search'>
    <input class='search' type='text' value=''/>
    <img class='dnone' src='wait/input_wait.png'/>
</div>
<script>M_search.start();</script>