<div class="spy">
    <div class="adaptive">
        <div class="title">
            <div class="text">
                <div class="gamename mar_t40">Находка для шпи</div>
                <div class="gamename"><img class="spy_o" src="{{img}}spy/spy.png"/></div>
                <div class="gamename mar_t40">на</div>
                <div class="cle">на</div>
            </div>
        </div>
        <div class="buttons">
            <div class="infobutton">Стол создается...</div>
            <div class="mainbutton" ng-click="Spy.createTable()">Создать стол</div>
            <div class="mainbutton mar_t10" ng-click="Spy.joinTable()">Сесть за стол</div>
            <div class="mainbutton mar_t10" ng-click="Spy.rules()">Правила игры</div>
        </div>
    </div>
</div>